.header {
  margin-top: 2em !important;
}

.btn-primary {
  background: #073954 !important;
  box-shadow: none !important;
  padding: 4px 15px !important;
  border-radius: 12px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control {
  border-radius: 20px !important;
}
