body{
    margin: 0%;
}.nav-bar{
    background: #083A55;
    overflow: hidden;
}
.nav-bar p {
    float: left;
    display: block;
margin-left: 2%; 
    text-decoration: none;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
  }
  .nav-bar button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #FFFFFF;
border-radius: 8px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #083A55;
  }
  .product-grid{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 25%;
    margin-right: 25%;
  }
  .product-grid img{
    width: 300px;
    height: 300px;
    left: 236px;
    top: 177px;
    margin: 5px;
    background: #C4C4C4;
    float: right;
  }
  .product-info{
      margin-top: auto;
      margin-bottom: 5px;
  }
  .product-info div{
    display: grid;
    grid-template-columns: auto auto;
  }
  #number-input{
    width: 50px;
    height: 30px;
  }
  .dang{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 0%;
    color: #8C8C8C;
  }
  .lorem{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin: 0%;
    color: #083A55;
  }
  .product-grid button{
    background: #083A55;
    border-radius: 8px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
  }
  .img-txt{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #083A55;
  }
  .img-div{
    display: grid;
    grid-template-columns: auto auto auto;
      margin-left: 2%; 
  }
  .image-slide{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding: 0%;
  }
  .s-image{
    width: 356px;
    height: 356px;
    left: 236px;
    top: 177px;
    margin: 5px;
    background: #C4C4C4;
  }
  #rel{
      text-align: left;
      padding: 1% 0px 0px 1%;
      padding-bottom: 0%;
  }
  .sp{
    width: 50px;
    height: 50px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-top: 150%;
    
  }
  .related{
      background: #F2F2F2;
  }
  .s-img{
        width: 356px;
        height: 356px;
        left: 236px;
        top: 177px;
        margin: 5px;
        background: #C4C4C4;
      }
      .related-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2%;
      }
      .related-grid div{
          margin: 5px;
          background: #FFFFFF;
      }
      .dangote{
        font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
padding: 0% 0% 0% 4%;
color: #8C8C8C;
      }
      .rel-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding: 0% 0% 0% 4%;
        color: #083A55;
      }
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      /* Dropdown button */
      .dropdown .dropbtn {
        font-size: 16px; 
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
      }
      
      /* Add a red background color to navbar links on hover */
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
      }
      
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      /* Add a grey background color to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;