<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/add_product" method="POST">
		<input type="text" name="name" placeholder="name">
		<br><br>
		<textarea name="description" placeholder="description"></textarea>
		<br><br>
		<input type="text" name="price" placeholder="price">
		<br><br>
		<small>Choose Category</small>
		<br>
		<input type="radio" value="Food" name="category">Food
		<br><br>
		<input type="radio" value="Electronics" name="category">Electronics
		<br><br>
		<input type="radio" value="Clothing" name="category">Clothing
		<br><br>
		<input type="submit" name="submit">
	</form>

</body>
</html>


<!--@app.route('/checkout', methods=['GET', 'POST'])
@is_logged_in
def checkout():
	curent_user = User.query.filter_by(email=session['email'])
	email = current_user.email
    return render_template('checkout.html', email=email, pub_key=pub_key)-->
