<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Supply Goods</h1>
	<br>
	<form action="create_producer" method="POST">
		<input type="text" name="companyname" placeholder="companyname">
		<br>
		<br>
		<input type="text" name="email" placeholder="Company Email">
		<br>
		<br>
		<input type="text" name="phone" placeholder="Company's Telephone">
		<br>
		<br>
		<input type="text" name="address" placeholder="Company's Address">
		<br>
		<br>
		<small>Niche</small>
		<br>
		<input type="radio" name="category" value="food" checked>
		Food
		<br>
		<input type="radio" name="category" value="clothing"> Clothing
		<br>
		<input type="radio" name="category" value="electronics/appliances"> Electonics/Appliances
		<br>
		<br>
		<button type="submit">SignUp</button>

	</form>
</body>
</html>
