<!DOCTYPE html>

<html>
    <head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="/static/styles/sw.css" rel="stylesheet">
<title>Shop Wise</title>
</head>
<body>
    <!---mininav-->
<section id="mini-nav">
        <div class="nav">
            <ul>
                <li><a href>Manage Products</a></li>
                <li><a href>Manage Subscribers</a></li>
                <li><a href>New Product</a></li>
                <li><a href>View more</a></li>
            </ul>
        </div>
</section>

<!---profileimage-->
<section id="profile">
<div class="profile-image">
    <img src="/static/img/Mask Group.png" class="mask" alt=" "/>
    <img src="/static/img/Rectangle 2.4.png" class="rect" alt=" "/>
    <img src="/static/img/Vector.png" class="vector" alt=" "/>
</div>
<div class="Dangote">
    <h6 class="center">Dangote</h6>
    <p class="para-center">Multipurpose Company</p>
</div>
</section>

<!---profileimage-->
<section id="grids">
    <div class="grid-header">
            
        <p class="text-decor">Your products</p>
        <p class="list-decor"><a href="#">View more</a></p>

    </div>
    <div id="content">
        <div><img src="/static/img/img1.jpg" class="product-image">
        <div><h6 class="product-text">Dangote</h6>
        <h5 class="product-desc">Lorem Ipsum Dolor Sit
                Amet</h5>
        <h6 class="price">N49,999</h6></div>
        </div>

        <div><img src="/static/img/img2.jpg" class="product-image">
            <div><h6 class="product-text">Dangote</h6>
                <h5 class="product-desc">Lorem Ipsum Dolor Sit
                        Amet</h5>
                <h6 class="price">N49,999</h6></div>
        </div>

        <div><img src="/static/img/img3.jpg" class="product-image">
            <div><h6 class="product-text">Dangote</h6>
                <h5 class="product-desc">Lorem Ipsum Dolor Sit
                        Amet</h5>
                <h6 class="price">N49,999</h6></div>
        </div>

        <div><img src="/static/img/img4.jpg" class="product-image">
            <div><h6 class="product-text">Dangote</h6>
                <h5 class="product-desc">Lorem Ipsum Dolor Sit
                        Amet</h5>
                <h6 class="price">N49,999</h6></div>
    </div>

        <div><img src="/static/img/img5.jpg" class="product-image">
            <div><h6 class="product-text">Dangote</h6>
                <h5 class="product-desc">Lorem Ipsum Dolor Sit
                        Amet</h5>
                <h6 class="price">N49,999</h6></div>
        </div>

        <div><img src="/static/img/img6.jpg" class="product-image">
            <div><h6 class="product-text">Dangote</h6>
                <h5 class="product-desc">Lorem Ipsum Dolor Sit
                        Amet</h5>
                <h6 class="price">N49,999</h6></div>
        </div>

        <div><img src="/static/img/img7.jpg" class="product-image">
            <div><h6 class="product-text">Dangote</h6>
                <h5 class="product-desc">Lorem Ipsum Dolor Sit
                        Amet</h5>
                <h6 class="price">N49,999</h6></div>
        </div>

        <div><img src="/static/img/img8.jpg" class="product-image">
            <div><h6 class="product-text">Dangote</h6>
                <h5 class="product-desc">Lorem Ipsum Dolor Sit
                        Amet</h5>
                <h6 class="price">N49,999</h6></div>
        </div>
    </div>
</section>
</body>
</html>
